html{ 
	height: 100%; 
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	height: 100%;
}

.app-container {
	width: 100%;
	clear: both;
}

.app {
	-moz-user-select: none;
	-webkit-user-select: none;
	max-width: 1000px;
	min-height: 560px;
	height: 100%;
	position: relative;
	margin: auto;
	display: block;
	padding: 8px;
}

.main-chart-container {
	position: relative;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.details_chart {
	-moz-user-select: none;
	-webkit-user-select: none;
}

a {
  color: #00B7FF;
}

.map_container{
  position: relative;
}

.overlay{
  position: absolute;
  height: 100%;
  background: #f4fafd;
  opacity: 0.8;
  width: 100px;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.dark-theme .overlay{
	background: #1d2837;
}
.overlay.overlay_left{
  left: 0;
}
.overlay.overlay_right{
  right: 0;
  width: 0;
}
.selected{
  position: absolute;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-color: #bdd5e670;
  cursor: pointer;
  height: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 1;
}

.dark-theme .selected{
	border-color: #548db570;
}

.selected .thumb{
  position: absolute;
  width: 5px;
  background: #bdd5e670;
  height: 100%;
}

.dark-theme .selected .thumb{
 background: #548db570;
}


.selected .thumb.thumb_left{
  left: 0;
}

.selected .thumb.thumb_right{
  right: 0;
}

.selected .thumb .invisible-addition {
	position: absolute;
	cursor: w-resize;
	width: 20px;
	height: 100%;
	background: transparent;
	left: -7px;
}

.btn{
	display: inline-block;
	margin: 10px;
	border-radius: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #e6ecf0;
	padding: 7px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	-moz-user-select: none;
	-webkit-user-select: none;
	height: 22px;
	position: relative;
}

.dark-theme .btn {
	border-color: #344658;
}

.btn .btn-mark{
	height: 22px;
	width: 22px;
	border-radius: 20px;
	display: inline-block;
	text-align: center;
	border-width: 11px;
	border-style: solid;
	box-sizing: border-box;
	transition: border-width .2s;
	transition-delay: .05s;
}


.btn .btn-mark img{
	position: absolute;
	left: 10px;
	top: 9px;
	width: 16px;
	height: 16px;
	transform: scale(1);
	transition: transform .15s;
}

.btn.btn-off .btn-mark img{
	transform: scale(0);
}

.btn .btn-text{
	display: block;
	float: right;
	padding-top: 3px;
	padding-left: 7px;
	padding-right: 7px;
}

.btn.btn-off .btn-mark{
	border-width: 2px;
}

.btn.btn-green .btn-mark{
	border-color: #3cc23f;
}

.btn.btn-red .btn-mark{
	border-color: #f34c44;
}

.chart-links {
	position: absolute;
	bottom: 30px;
	width: 100%;
}

.chart-link {
	margin: 10px;
	font-size: 16px;
	cursor: pointer;
}

.theme-link {
	font-size: 20px;
	cursor: pointer;
	text-decoration: none;
}

.bottom-container {
	text-align: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    overflow: hidden;
    height: 60px;
    left: 0;
}

.info {
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #e3e3e3;
	border-radius: 10px;
	background: white;
	padding: 10px;
	z-index: 2;
	box-shadow: 0px 0px 1px 1px rgba(227,227,227,0.5);
	pointer-events: none;
	max-width: 140px;
}

.dark-theme .info {
	background: #253241;
	box-shadow: 0px 0px 2px 2px #1c242f96;
	border-color: #253241;
}

.info .date {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: bolder;
}

.info .item {
	display:inline-block;
	float: left;
	margin-right: 10px;
}

.info .item .value {
	font-size: 18px;
	font-weight: bold;
}