html{ 
	height: 100%; 
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	height: 100%;
	padding-bottom: 50px;
}

body.isDark {
	background: rgb(36, 47, 62);
}

.app-container {
	width: 100%;
	clear: both;
}

.app {
	-moz-user-select: none;
	-webkit-user-select: none;
	max-width: 1000px;
	min-height: 560px;
	height: 100%;
	position: relative;
	margin: auto;
	display: block;
	padding: 16px;
}

.appHeader {
	overflow: hidden;
	height: 60px;
}

.title {
	font-size: 18px;
	font-weight: bolder;
	float: left;
	margin: 1em 0;
}

.theme-link {
	font-size: 18px;
	cursor: pointer;
	text-decoration: none;
}

.zoom-out {
	font-size: 18px;
	cursor: pointer;
	color: #00B7FF;
	text-decoration: none;
	font-weight: bolder;
	display: none;
	margin: 1em 0;
}

.legend {
	font-size: 15px;
	font-weight: bolder;
	float: right;
	margin-top: 1.25em;
}

.main-chart-container {
	position: relative;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;

	margin-left: -16px;
	margin-right: -16px;
}

.details_chart {
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

a {
  color: #00B7FF;
}

.map_container{
  position: relative;
}

.overlay{
  position: absolute;
  height: 40px;
  background: #e7f5fc;
  opacity: 0.7;
  width: 100px;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.dark-theme .overlay{
	background: #1d2837;
}
.overlay.overlay_left{
  left: 0;
}
.overlay.overlay_right{
  right: 0;
  width: 0;
}
.selected{
  position: absolute;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-color: #c0d1e1;
  cursor: pointer;
	height: 40px;
	top: -2px;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 1;
}

.selected.animating {
	transition: width .2s, right .2s;
}

.dark-theme .selected{
	border-color: #548db570;
}

.selected .thumb{
  position: absolute;
  width: 12px;
  background: #c0d1e1;
	height: 100%;
	    height: calc(100% + 4px);
    top: -2px;
}

.selected .thumb::after{
	    position: absolute;
    background: white;
    width: 3px;
    border-radius: 4px;
    height: 15px;
    left: 5px;
    top: 15px;
    display: block;
    content: ' ';
		z-index: 1;
		cursor: w-resize;
		-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.dark-theme .selected .thumb{
 background: #56626d;
}


.selected .thumb.thumb_left{
	left: -5px;
	    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.selected .thumb.thumb_right{
	right: -5px;
	    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.selected .thumb .invisible-addition {
	position: absolute;
	cursor: w-resize;
	width: 20px;
	height: 100%;
	background: transparent;
	left: -4px;
	-webkit-tap-highlight-color: transparent;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.btn{
	display: inline-block;
	margin-right: 20px;
	margin-top: 20px;
	padding: 7px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	-moz-user-select: none;
	-webkit-user-select: none;
	height: 22px;
	position: relative;
	
	cursor: pointer;
}

.btn.btn-off {
	
}

.btn-filler {
	  border-radius: 30px;
    border-width: 18px;	
    border-style: solid;	
    box-sizing: border-box;	
    transition: border-width .2s;	
		transition-delay: .05s;
		position: absolute;
    left: 0;
    top: 0;
		width: 100%;
		height: 100%;
}

.btn.btn-off .btn-filler{
	border-width: 2px;
}


.btn.btn-on .btn-text{
	color: white !important;
}

.btn.btn-off .btn-text{
	/* color: gray; */
}

.dark-theme .btn {
	/* border-color: #344658; */
}

.btn .btn-mark{
	height: 22px;
	width: 22px;
	display: inline-block;
	text-align: center;
}


.btn .btn-mark img{
	position: absolute;
	left: 10px;
	top: 9px;
	width: 16px;
	height: 16px;
	transform: scale(1);
	transition: transform .15s;
}

.btn.btn-off .btn-mark img.on-img{
	transform: scale(0);
}

.btn .btn-text {
	display: block;
	float: right;
	padding-top: 3px;
	padding-left: 7px;
	padding-right: 7px;
	position: relative;
	font-weight: bolder;
	transition: color .30s;
	transition: margin-left .2s, margin-right .2s;
	margin-left: 0;
	margin-right: 0;
}

.btn.btn-off .btn-text {
	margin-left: -11px;
	margin-right: 11px;
}

.bottom-container {
	text-align: center;
    width: 100%;
    overflow: hidden;
    height: 60px;
}

.info {
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #e3e3e3;
	border-radius: 10px;
	background: white;
	padding: 10px 15px 5px 15px;
	z-index: 2;
	box-shadow: 0px 0px 1px 1px rgba(227,227,227,0.5);
	min-width: 140px;
	max-width: 190px;
}

.info .show-more {
	float: right;
	font-weight: bold;
	width: 7px;
	height: 13px;
	background-image: url('/img/more_l.png');
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-top: 1px;
	pointer-events: all;
}

.dark-theme .info .show-more{
	background-image: url('/img/more_d.png');
}

.dark-theme .info {
	background: #1c2533;
	box-shadow: 0px 0px 2px 2px #1c242f96;
	border-color: #1c2533;
}

.info .date {
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: bolder;
	float: left;
	display: inline-block;
}

.info .item {
	display:block;
	overflow: hidden;
	clear: both;
	width: 100%;
	font-size: 15px;
	margin-bottom: 5px;
}

.info .item .value {
	font-weight: bold;
	float: right;
}

.info .item .name {
	float: left;
}