<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="">
		<meta name="keywords" content="">
		<link rel="stylesheet" type="text/css" href="/style/style.css">
	<title>Charts</title>
</head>
<body>
	<div class="app-container">
		<div class="app">
			<div class="appHeader">
				<p class="title">Lines</p>
				<p class="zoom-out">Zoom out</p>
				<p class="legend"></p>
			</div>
			<div class="main-chart-container">
				<canvas height="600" style="width:100%;height:300px;" class="main_chart"></canvas>
				<canvas height="600" style="width:100%;height:300px;position: absolute;left: 0;top: 0;z-index: 1;"
					class="details_chart"></canvas>
			</div>
			<div class="map-chart-container">
				<div class="map_container">
					<div class="overlay overlay_left"></div>
					<div class="selected" style="right:0;width:100px;">
						<div class="thumb thumb_left">
							<div class="invisible-addition"></div>
						</div>
						<div class="thumb thumb_right">
							<div class="invisible-addition"></div>
						</div>
					</div>
					<div class="overlay overlay_right"></div>
					<canvas height="80" style="width:100%;height:40px;" class="chart_map"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="app-container">
		<div class="app">
			<div class="appHeader">
				<p class="title">Lines</p>
				<p class="zoom-out">Zoom out</p>
				<p class="legend"></p>
			</div>
			<div class="main-chart-container">
				<canvas height="600" style="width:100%;height:300px;" class="main_chart"></canvas>
				<canvas height="600" style="width:100%;height:300px;position: absolute;left: 0;top: 0;z-index: 1;"
					class="details_chart"></canvas>
			</div>
			<div  class="map-chart-container">
				<div class="map_container">
					<div class="overlay overlay_left"></div>
					<div class="selected" style="right:0;width:100px;">
						<div class="thumb thumb_left">
							<div class="invisible-addition"></div>
						</div>
						<div class="thumb thumb_right">
							<div class="invisible-addition"></div>
						</div>
					</div>
					<div class="overlay overlay_right"></div>
					<canvas height="80" style="width:100%;height:40px;" class="chart_map"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="app-container">
		<div class="app">
			<div class="appHeader">
				<p class="title">Bars</p>
				<p class="zoom-out">Zoom out</p>
				<p class="legend"></p>
			</div>
			<div class="main-chart-container">
				<canvas height="600" style="width:100%;height:300px;" class="main_chart"></canvas>
				<canvas height="600" style="width:100%;height:300px;position: absolute;left: 0;top: 0;z-index: 1;"
					class="details_chart"></canvas>
			</div>
			<div  class="map-chart-container">
				<div class="map_container">
					<div class="overlay overlay_left"></div>
					<div class="selected" style="right:0;width:100px;">
						<div class="thumb thumb_left">
							<div class="invisible-addition"></div>
						</div>
						<div class="thumb thumb_right">
							<div class="invisible-addition"></div>
						</div>
					</div>
					<div class="overlay overlay_right"></div>
					<canvas height="80" style="width:100%;height:40px;" class="chart_map"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="app-container">
		<div class="app">
			<div class="appHeader">
				<p class="title">Bar</p>
				<p class="zoom-out">Zoom out</p>
				<p class="legend"></p>
			</div>
			<div class="main-chart-container">
				<canvas height="600" style="width:100%;height:300px;" class="main_chart"></canvas>
				<canvas height="600" style="width:100%;height:300px;position: absolute;left: 0;top: 0;z-index: 1;"
					class="details_chart"></canvas>
			</div>
			<div  class="map-chart-container">
				<div class="map_container">
					<div class="overlay overlay_left"></div>
					<div class="selected" style="right:0;width:100px;">
						<div class="thumb thumb_left">
							<div class="invisible-addition"></div>
						</div>
						<div class="thumb thumb_right">
							<div class="invisible-addition"></div>
						</div>
					</div>
					<div class="overlay overlay_right"></div>
					<canvas height="80" style="width:100%;height:40px;" class="chart_map"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="app-container">
		<div class="app">
			<div class="appHeader">
				<p class="title">Area</p>
				<p class="zoom-out">Zoom out</p>
				<p class="legend"></p>
			</div>
			<div class="main-chart-container">
				<canvas height="600" style="width:100%;height:300px;" class="main_chart"></canvas>
				<canvas height="600" style="width:100%;height:300px;position: absolute;left: 0;top: 0;z-index: 1;"
					class="details_chart"></canvas>
			</div>
			<div  class="map-chart-container">
				<div class="map_container">
					<div class="overlay overlay_left"></div>
					<div class="selected" style="right:0;width:100px;">
						<div class="thumb thumb_left">
							<div class="invisible-addition"></div>
						</div>
						<div class="thumb thumb_right">
							<div class="invisible-addition"></div>
						</div>
					</div>
					<div class="overlay overlay_right"></div>
					<canvas height="80" style="width:100%;height:40px;" class="chart_map"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-container">
		<div class="chart-links" style="bottom:0;">
			<a class="theme-link set-theme-dark">Switch to night mode</a>
			<a style="display:none;" class="theme-link set-theme-light">Switch to day mode</a>
		</div>
	</div>
	<script src="/js/data.js"></script>
	<script src="/js/chart.js"></script>
</body>
</html>

