<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Charts</title>
</head>
<body> 
	<div id="app">
	  <canvas width="700" height="500" id="main_chart"></canvas>
	  <canvas width="700" height="100" style="margin-top:10px;" id="chart_map"></canvas>
    </div>
    <script src="/js/data.js"></script>
    <script src="/js/chart.js"></script>
</body>
</html>
