<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
		<meta name="keywords" content="">
		<link rel="stylesheet" type="text/css" href="/style/style.css">
    <title>Charts</title>
</head>
<body> 
	<div id="app">
		<canvas height="700" style="width:100%;height:350px;" id="main_chart"></canvas>
		<div style="padding-left:8px;padding-right:8px;padding-top:50px;">
			<div class="map_container" id='map_container'>
				<div class="overlay overlay_left" id="overlay_left"></div>
				<div class="selected" id="thumb" style="right:0;width:135px;">
					<div id="thumb_left" class="thumb thumb_left"></div>
					<div id="thumb_right" class="thumb thumb_right"></div>
				</div>
				<div class="overlay overlay_right" id="overlay_right"></div>
				<canvas height="90" style="width:100%;height:45px;margin-top:10px;" id="chart_map"></canvas>
			</div>
		</div>
	</div>
	<script src="/js/data.js"></script>
	<script src="/js/chart.js"></script>
</body>
</html>

